<!DOCTYPE html>
<html>
<head>

<title>Test</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logonew.png")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/1.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/2.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/3.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/4.jpg")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/tumlogo.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/lmulogo.png")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/fb.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/twitter.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/linkedin.jpg")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/google.jpg")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/css/social-buttons.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>


</head>
<body>
	<div class="page-header" style="padding-bottom: 0px; margin-top: 5px;">
		<a href="/home"><img src="@routes.Assets.at("images/logonew.png")" height="70px"
			width="150px" alt="Live Feed"></a>
	</div>
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="btn-group" style="float: right;">
			<a type="button" class="btn btn-default" href="/home">Home</a> 
			<a type="button" class="btn btn-default" href="/aboutus">About Us</a>
			<a type="button" class="btn btn-default" href="/contact">Contact</a>
			<a type="button" class="btn btn-default" href="/feedback">Feedback</a>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<p>
					<h4>
						<i>"LiveFeed is inspired to help Professors and students to
							have live feedback during lecture sessions!"</i>
					</h4>
				</p>
				<p>
					<h3>About the team</h3>
				</p>
				<p>
					We are young and enthusiastic Start-Up team. Our story began in
					TUM, where we met. Being students we have identified the common
					problems that nowadays exists in the communication between students
					and professors. That is why we decided to dedicate our time in a
					mission for improving that process. <b>LiveFeed</b> is a real-time
					feedback Web application, created from students to students and
					professors!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h4>Nikanj Gupta</h4>
				<img src="@routes.Assets.at("images/1.jpg")" height="70px"
					width="70px" class="img-circle">
				<p>Student in MSc Informatics, TUM</p>
			</div>
			<div class="col-xs-6">
				<h4>Ivan Petrov</h4>
				<img src="@routes.Assets.at("images/2.jpg")" height="70px"
					width="70px" class="img-circle">
				<p>Student in MSc Informatics, TUM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h4>Agastya Alfath</h4>
				<img src="@routes.Assets.at("images/3.jpg")" height="70px"
					width="70px" class="img-circle">
				<p>Student in MSc Informatics, TUM</p>
			</div>
			<div class="col-xs-6">
				<h4>Antoniya Atanasova</h4>
				<img src="@routes.Assets.at("images/4.jpg")" height="70px"
					width="70px" class="img-circle">
				<p>Student in MSc Informatics, TUM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Clients&Partners</h3>
				<img src="@routes.Assets.at("images/tumlogo.png")" class="img-rounded" height="90px" width="90px">
				<img src="@routes.Assets.at("images/lmulogo.png")" class="img-rounded" height="60px" width="130px">
			</div>
			<div class="col-md-6">
			<h3></h3>
			<a href="https://www.facebook.com/"><img src="@routes.Assets.at("images/fb.jpg")" height="30px" width="30px" href="abv.bg" class="img-rounded"></a>
			<a href="https://www.twitter.com/"><img src="@routes.Assets.at("images/twitter.jpg")" height="30px" width="30px" class="img-rounded"></a>
			<a href="https://www.linkedin.com/"><img src="@routes.Assets.at("images/linkedin.jpg")" height="30px" width="30px" class="img-rounded"></a>
			<a href="https://www.plus.google.com/"><img src="@routes.Assets.at("images/google.jpg")" height="30px" width="30px" class="img-rounded"></a>
			</div>
		</div>
	</div>
</body>
</html>