@(stats : Long) @import helper._


<!DOCTYPE html>

<html>
<head>
<title>Professor Page</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/css/table.css")">

<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script>
/*
	function getUrlVars()	
		{
    		var vars = [], hash;
    		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    		for(var i = 0; i < hashes.length; i++)
    			{
        			hash = hashes[i].split('=');
        			vars.push(hash[0]);
        			vars[hash[0]] = hash[1];
    			}
    		return vars;
		}

	$("#logout").click(function() {
		$.post("/postReport", {
				
				courseName: getUrlVars()["course"]
		} )
	});
	
*/
	var speed_y;
	var voice_y;
	var newVal;
	var server_message;

	function displayQuestion(question) {
		$('#posted_question')
				.append(
						'<div style="background-color: white; margin: 0 10px 10px 0; padding: 7px; border-radius:5px;">'
								+ question + '</div>');
		$(".test").show();
	}
	
	$(document).ready(function() {

		var connection = new WebSocket('ws://localhost:9000');

		connection.onopen = function() {
			//
		}

		connection.onmessage = function(e) {
			server_message = e.data;

			if (server_message.indexOf("speed_") > -1) {
				server_message = server_message.replace("speed_", "");
				speed_y = Number(server_message);
				console.log('speed y: ' + y);
			} else if (server_message.indexOf("loudness_") > -1) {
				server_message = server_message.replace("loudness_", "");
				voice_y = Number(server_message);
				console.log('Loud y: ' + voice_y);
			} else if (server_message.indexOf("pause_") > -1) {
				server_message = server_message.replace("pause_", "");
				newVal = parseInt(server_message);
			}
			else if (server_message.indexOf("question_") > -1) {
				server_message = server_message.replace(
						"question_", "");
				displayQuestion(server_message);
			}

		};

		connection.onclose = function(e) {
			alert("CONNECTION IS CLOSED~");
		}

		$("#submit_button")
        .click(
          function() {
           var question_text = $('#question')
             .val();
           displayQuestion(question_text);
           $('#question').val('');
           $("#q_area").hide();

          });

      $("#cancel_button").click(function() {
       $("#q_area").hide();
      });

      $("#add").click(function() {
       $("#q_area").show();
      });
	});

	$(function() {

		$(document).ready(
				function() {
					Highcharts.setOptions({
						global : {
							useUTC : false
						}
					});

					var chart;
					$('#container-speed-chart').highcharts(
							{
								chart : {
									type : 'spline',
									animation : Highcharts.svg, // don't animate in old IE
									marginRight : 5,
									events : {
										load : function() {

											// set up the updating of the chart each second
											var series = this.series[0];
											//var y = 0;

											setInterval(function() {

												var x = (new Date()).getTime(); // current time
												if (speed_y == null) {
													speed_y = 50; //used for initialization
												}
												series.addPoint([ x, speed_y ],
														true, true);

											}, 1000);
										}
									}
								},
								title : {
									text : 'Speed'
								},
								xAxis : {
									title : {
										text : 'Time'
									},
									type : 'datetime',
									tickPixelInterval : 150
								},

								yAxis : {
									title : {
										text : 'Percentage'
									},
									min : 0,
									max : 100,
									labels : {
										formatter : function() {
											if (this.value == 100) {
												return 'Too Fast';
											}

											if (this.value == 50) {
												return 'OK';
											}

											if (this.value == 0) {
												return 'Too Slow';
											}
										}
									},
								},
								tooltip : {
									formatter : function() {
										return 'At time: '
												+ Highcharts.dateFormat(
														'%H:%M:%S', this.x)
												+ '<br/>'
												+ 'Average speed requested '
												+ Highcharts.numberFormat(
														this.speed_y, 2) + '%';
									}
								},
								legend : {
									enabled : false
								},
								exporting : {
									enabled : false
								},
								series : [ {
									name : 'Random data',
									data : (function() {
										// generate an array of random data
										var data = [], time = (new Date())
												.getTime(), i;

										for (i = -19; i <= 0; i++) {
											data.push({
												x : time + i * 1000,
												speed_y : 50
											});
										}
										return data;
									})()
								} ]
							});
				});

	});

	$(function() {
		$(document).ready(
				function() {
					Highcharts.setOptions({
						global : {
							useUTC : false
						}
					});

					var chart;
					$('#container-loudness-chart').highcharts(
							{
								chart : {
									type : 'spline',
									animation : Highcharts.svg, // don't animate in old IE
									marginRight : 5,
									events : {
										load : function() {

											// set up the updating of the chart each second
											var series = this.series[0];
											//var y = 0;
											//var server_message;

											setInterval(function() {

												//var connection = new WebSocket('ws://localhost:9000');  //initialize the websocket inside the "interval loop"

												var x = (new Date()).getTime(); // current time
												if (voice_y == null) {
													voice_y = 50; //used for initialization
												}
												series.addPoint([ x, voice_y ],
														true, true);

											}, 1000);
										}
									}
								},
								title : {
									text : 'Loudness'
								},
								xAxis : {
									title : {
										text : 'Time'
									},
									type : 'datetime',
									tickPixelInterval : 150
								},

								yAxis : {
									title : {
										text : 'Percentage'
									},
									min : 0,
									max : 100,
									labels : {
										formatter : function() {
											if (this.value == 100) {
												return 'Too Loud';
											}

											if (this.value == 50) {
												return 'OK';
											}

											if (this.value == 0) {
												return 'Too Low';
											}
										}
									},
								},
								tooltip : {
									formatter : function() {
										return 'At time: '
												+ Highcharts.dateFormat(
														'%H:%M:%S', this.x)
												+ '<br/>'
												+ 'Average loudness requested '
												+ Highcharts.numberFormat(
														this.voice_y, 2) + '%';
									}
								},
								legend : {
									enabled : false
								},
								exporting : {
									enabled : false
								},
								series : [ {
									name : 'Random data',
									data : (function() {
										// generate an array of random data
										var data = [], time = (new Date())
												.getTime(), i;

										for (i = -19; i <= 0; i++) {
											data.push({
												x : time + i * 1000,
												voice_y : 50
											//initialization 
											});
										}
										return data;
									})()
								} ]
							});
				});

	});

	$(function() {

		var gaugeOptions = {

			chart : {
				type : 'solidgauge'
			},

			title : null,

			pane : {
				center : [ '50%', '85%' ],
				size : '140%',
				startAngle : -90,
				endAngle : 90,
				background : {
					backgroundColor : (Highcharts.theme && Highcharts.theme.background2)
							|| '#EEE',
					innerRadius : '60%',
					outerRadius : '100%',
					shape : 'arc'
				}
			},

			tooltip : {
				enabled : true
			},

			// the value axis
			yAxis : {
				stops : [ [ 0.1, '#55BF3B' ], // green
				[ 0.5, '#DDDF0D' ], // yellow
				[ 0.9, '#DF5353' ] // red
				],
				lineWidth : 0,
				minorTickInterval : null,
				tickPixelInterval : 400,
				tickWidth : 0,
				title : {
					y : -70
				},
				labels : {
					y : 16
				}
			},

			plotOptions : {
				solidgauge : {
					dataLabels : {
						y : 5,
						borderWidth : 0,
						useHTML : true
					},
					states : {
						hover : {
							enabled : true
						}
					}

				}

			}
		};

		// The speed gauge
		$('#container-speed')
				.highcharts(
						Highcharts
								.merge(
										gaugeOptions,
										{
											yAxis : {
												min : 0,
												max : 100,
												title : {
													text : 'Pause'
												}
											},

											credits : {
												enabled : false
											},

											series : [ {
												name : 'Pause',
												data : [ 0 ],
												dataLabels : {
													format : '<div style="text-align:center"><span style="font-size:25px;color:'
															+ ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black')
															+ '">{y}</span><br/>'
															+ '<span style="font-size:12px;color:silver">Pause counts</span></div>'
												},
												tooltip : {
													valueSuffix : 'Number of persons voted for pause'
												}
											} ]

										}));

		// The RPM gauge
		;
		//var newVal;
		// Bring life to the dials
		setInterval(function() {

			// Speed
			var chart = $('#container-speed').highcharts();
			if (chart) {
				var point = chart.series[0].points[0];
				//   inc = Math.round((Math.random() - 0.5) * 100);

				// newVal = point.y + inc;
				/*  if (newVal < 0 || newVal > 100) {
				      newVal = point.y - inc;
				  }*/
				console.log('pause 2: ' + newVal);
				point.update(newVal);
			}

		}, 2000);

	});
</script>

</head>
<body>
	<div class="page-header" style="padding-bottom: 0px; margin-top: 5px;">
		<img src="@routes.Assets.at(" images/logo.png")" height="50px"
			width="150px" alt="Live Feed">
	</div>
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="btn-group" style="margin-left: 75%;">
			<a type="button" class="btn btn-default" href="/home">Home</a> 
			<a type="button" class="btn btn-default" href="/aboutus">About Us</a> 
			<a type="button" class="btn btn-default" href="/contact">Contact</a> 
			<a type="button" class="btn btn-default" href="/feedback">Feedback</a>
		</div>
	</header>
	
	<form method="get" action="/signout">
		<button type="submit" class="btn btn-default" id="logout" name="logoutButton" style="width:214px">Logout</button>
	</form>
		
	<table>
		<thead>
			<tr>
				<th width=50% height=50%><script
						src="http://code.highcharts.com/highcharts.js"></script> <script
						src="http://code.highcharts.com/modules/exporting.js"></script>
					<div id="container-speed-chart"></div></th>
				<th width=50%><script
						src="http://code.highcharts.com/highcharts.js"></script> <script
						src="http://code.highcharts.com/modules/exporting.js"></script>
					<div id="container-loudness-chart"></div></th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td width="50%" height="50%">
					<div id="questions_row1" style="margin-left: 100px; height: 400px;">
						<h2>Question Section</h2>

						<div id="posted_question"></div>

						<div class="well col-lg-4">
							<a type="button" class="btn btn-primary btn-group-justified"
								id="add">Add Question</a>
						</div>
						<div id="q_area" class="well col-sm-10" style="display: none;">
							<textarea class="form-control" rows="3" columns="50"
								id="question" placeholder="Enter Question Here"></textarea>
							<div class="btn-group-justified" style="margin-top: 20px;">
								<a id="submit_button" class="btn btn-success" type="button">Submit</a>
								<a id="cancel_button" class="btn btn-danger" type="button">Cancel</a>
							</div>
						</div>
					</div>
				</td>
				<td width="50%">
					<div id="pause_gauge">
						<script src="http://code.highcharts.com/highcharts.js"></script>
						<script src="http://code.highcharts.com/highcharts-more.js"></script>

						<script
							src="http://code.highcharts.com/modules/solid-gauge.src.js"></script>

						<div style="width: 600px; height: 400px; margin: 0 auto">
							<div id="container-speed"
								style="width: 300px; height: 200px; float: left"></div>
							<div id="container-rpm"
								style="width: 300px; height: 200px; float: left"></div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>



</body>
</html>
