@(stats : List[Stats])
@import helper._


<!DOCTYPE html>

<html>
    <head>
        <title>Professor Page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        
        
        
        <script>
                
        var j = 10;
        $(function () {
            $(document).ready(function() {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });
            
                
                var chart;
    
                $('#container').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function() {
       
                            	var vote;
                                // set up the updating of the chart each second
                                var series = this.series[0];

                                var connection = new WebSocket('ws://localhost:9000', ['soap', 'xmpp']);
                             // When the connection is open, send some data to the server
                                connection.onopen = function () {
  
                                };

                                // Log errors
                                connection.onerror = function (error) {
                                  console.log('WebSocket Error ' + error);
                                };

                                // Log messages from the server
                                connection.onmessage = function (e) {
                                  console.log('Server: ' + e.data);
                                  connection.send(e.data); 
                                  vote = parseInt(e.data);
                                };

                                setInterval(function() {
                                    var x = (new Date()).getTime(); // current time
                                    //var y =	vote;
                                    var y = @stats(0).Pause;
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },
                    
                    title: {
                        text: 'Live random data'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                                return '<b>'+ this.series.name +'</b><br/>'+
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Random data',
                        data: (function() {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
            
                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random()
                                });
                            }
                            return data;
                        })()
                    }]
                });
            });
            
        });
		</script>
    </head>
    <body>
	<p>HIGHCHARTS GOES HERE</p>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

	<div id="votes">
		<p>VOTE</p>
			<form action="">
				<input type="radio" name="vote" value="toofast">Too fast<br>
				<input type="radio" name="vote" value="normal">Normal<br>
				<input type="radio" name="vote" value="tooslow">Too slow<br>
				<input type="submit" value="Submit">
			</form>
	</div>
    </body>
</html>